@import "https://unpkg.com/photoswipe@5.3.7/dist/photoswipe.css";

.gallery {
  padding-bottom: 2rem;
}

.gallery a {
  background-color: #f1f1f1;
  display: inline-flex;
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 0;
  border: 1px solid #ededed;
  min-height: 30px;
  transition: all 2s ease;
}

a.disabled {
  cursor: initial;
}

/* .gallery a:hover img {
  box-shadow: 3px 3px 10px black;
} */

.gallery a img {
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.4s ease-in;
  filter: blur(4px);

  &.loaded {
    opacity: 1;
    filter: none;
  }
}

/*
@media (max-width: 900px) {
  .gallery {
  }
}
*/
