@import "https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css";
@import "./vars.css";
@import "./grids.css";
@import "./gallery.css";

html,
body {
  background: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 100%);
}

nav {
  margin-bottom: var(--grid-gap);
  background-color: white;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: #888;
  }
}

/*contact form*/

dialog {
  article {
    border-radius: var(--border-radius) !important;
  }
  header {
    padding: 1.5rem 1.8rem;
  }

  form {
    margin-bottom: 0;
    padding: 1rem;

    button {
      /*background-color: #679190 !important;*/
      /*border: none;*/
      font-weight: bold !important;
      display: inline-flex !important;
      width: auto !important;
      margin: 0 !important;
    }
  }
}
