<div class="about">

  <div class="heading">
    <img src="assets/imgs/me-beard.jpeg" />

  </div>

  <hgroup>
    <h2>Hi I'm Dave</h2>
    <h3>Thanks for visiting Komi</h3>
  </hgroup>
  <p>
    I started sewing in 2020 making my own backpacking gear and experimenting
    with high-tech fabrics balancing strength and weight. Carrying these over
    into everyday use, I began making bags to be enjoyed anywhere. Currently, my
    bags consist of 1000d Cordura on the exterior, and ripstop nylon or X-Pac on
    the interior. Cordura is used in many military applications, and X-Pac
    originates from racing sail cloth. I sew each of these bags myself right
    here in South East Portland. They are water-repellent and should stand up to
    a lifetime of use. I hope you enjoy using them as much as I do making them.
  </p>

  <p>Feel free to write me a message if you would like to learn more, or just
    say hi!</p>

  <article>

    <form
      method="post"
      action="https://forms.un-static.com/forms/280f6efdff04d14342c88f1015bbd412166c593d"
    >
      <input type="text" name="name" placeholder="Enter your name" required />
      <input
        type="email"
        name="email"
        placeholder="Enter your e-mail address"
        required
      />
      <textarea name="message" cols="40" rows="10"></textarea>
      <button class="secondary" type="submit">Send</button>
    </form>
  </article>
</div>