<html data-theme="light">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/photoswipe@5.3.7/dist/photoswipe.css"
    />
    <link rel="stylesheet" href="/index.css" />
  </head>

  <!-- Google tag (gtag.js) -->
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-31JRHNV0X6"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || []; function gtag(){
    dataLayer.push(arguments); } gtag('js', new Date()); gtag('config',
    'G-31JRHNV0X6');
  </script>

  <body>
    <main class="container">
      <nav>
        <ul>
          <li>
            {{#if isAbout}}
              <a role="button" class="secondary" href="index.html">Work</a>
            {{else}}
              <a role="button" class="secondary" href="about.html">About</a>
            {{/if}}

            <a
              role="button"
              class="secondary"
              href="https://etsy.com/shop/komipdx"
              target="_blank"
            >Etsy</a>

            <a
              role="button"
              class="secondary"
              href="https://www.instagram.com/komicustoms/"
              target="_blank"
            >Instagram</a>
          </li>
        </ul>
      </nav>

      {{{content}}}

      <strong>Made in Portland, OR</strong>

    </main>

    <script type="module" src="/index.js"></script>
  </body>
</html>