<html data-theme="light">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="/assets/styles/index.css" />
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-31JRHNV0X6"></script>
  <script>
    window.dataLayer = window.dataLayer || []; function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date()); gtag('config', 'G-31JRHNV0X6');
  </script>

  <body>
    <main class="container">
      <nav>
        <ul>
          <li>
            {{#if isAbout}}
              <a href="index.html">Work</a>
            {{else}}
              <a href="about.html">About</a>
            {{/if}}

            <a href="https://komipacks.etsy.com" target="_blank">Etsy</a>
            <a href="https://www.instagram.com/komipacks/" target="_blank">Instagram</a>
          </li>
        </ul>
      </nav>

      {{{content}}}

      <strong>Made in Portland, OR</strong>

    </main>

    <script type="module" src="/index.js"></script>
  </body>
</html>